// Put your custom SCSS code here
.docs-content {
  max-width: 1000px; /* or any width you prefer */
  margin-left: auto;
  margin-right: auto;
}

.site-logo {
  display: block;
  height: 70px;
  width: auto;
  flex-shrink: 0;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-overlay img {
  max-width: 95%;
  max-height: 95%;
}
